<!DOCTYPE html>
<html>
<head>
  <title>College Dashboard (Test)</title>
</head>
<body>

  <h2>College Dashboard (Testing)</h2>

  <button onclick="loadProfile()">View Profile</button>
  <button onclick="loadStudents()">View Students</button>

  <pre id="output"></pre>

  

</body>
</html>
